<p id="notice">
	<%= notice %>
</p>

<p>
	<b>Name:</b>
	<%= @article.name %>
</p>

<p>
	<b>Description:</b>
	<%= @article.description %>
</p>

<p>
	<b>Price:</b>
	<%= @article.price %>
</p>

<p>
	<b>Total in shelf:</b>
	<%= @article.total_in_shelf %>
</p>

<p>
	<b>Total in vault:</b>
	<%= @article.total_in_vault %>
</p>

<%= link_to 'Edit', edit_article_path(@article),:class => "btn btn-link" %> |
<%= link_to 'Back', articles_path ,:class => "btn btn-link"%>
