<h1>Listing stores</h1>

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @stores.each do |store| %>
	<tr>
		<td><%= store.name %></td>
		<td><%= store.address %></td>
		<td><%= link_to 'Show', store,:class => "btn btn-link" %></td>
		<td><%= link_to 'Edit', edit_store_path(store),:class => "btn btn-link" %></td>
		<td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?'} ,:class => "btn btn-link" %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'New Store', new_store_path,:class => "btn btn-primary" %>

